.smartphone-1-icon2 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
  min-height: 32px;
}
.elumesim4 {
  text-decoration: none;
  height: 31px;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.smartphone-1-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 28px;
  color: #000;
  font-family: Almarai;
}
.about2,
.destinations2,
.help2,
.usd2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 95px;
}
.about2,
.help2,
.usd2 {
  min-width: 46px;
}
.help2,
.usd2 {
  min-width: 35px;
}
.usd2 {
  min-width: 34px;
}
.u-s-d-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.search-normal-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.where-are-you2 {
  position: relative;
  line-height: 22px;
}
.log-in2,
.search {
  white-space: nowrap;
}
.search {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 11px;
  gap: 24px;
}
.log-in2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 46px;
}
.header2,
.login-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.header2 {
  align-self: stretch;
  background-color: #fff;
  justify-content: space-between;
  padding: 24px 120px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #1c1c1c;
  font-family: Inter;
}
.your-cart {
  margin: 0;
  width: 678.1px;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.cart-header {
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.view-or-edit {
  width: 849.4px;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.cart-header-parent,
.frame-wrapper,
.header-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.cart-header-parent {
  flex: 1;
  background-color: #eee;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 81.5px 20px;
  box-sizing: border-box;
  gap: 16px;
}
.frame-wrapper,
.header-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.header-parent {
  flex-direction: column;
  text-align: center;
  font-size: 48px;
  color: #000;
  font-family: Archivo;
}
.header-child {
  height: 50px;
  width: 985px;
  position: relative;
  border-radius: 5px;
  background-color: #eee;
  flex-shrink: 0;
  display: none;
}
.product {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.product-label {
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
.price15,
.quantity {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 45px;
  z-index: 1;
}
.quantity {
  min-width: 74px;
}
.price-quantity {
  width: 272px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.total {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 43px;
  z-index: 1;
}
.header3 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #eee;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 38px 13px;
  gap: 139px;
}
.cards-icon15 {
  height: 64.3px;
  width: 100px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.discount-20-off,
.fenty-beauty-50 {
  width: 179px;
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.discount-20-off {
  line-height: 22px;
}
.fenty-beauty-50-off-gift-card-parent {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8px;
}
.credits,
.quantity-placeholder {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.quantity-placeholder {
  min-width: 70px;
  white-space: nowrap;
}
.credits {
  min-width: 88px;
}
.quantity-placeholder-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.icon-plus {
  width: 16px;
  height: 16px;
  position: relative;
}
.plus-minus-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.increase-placeholder {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 11px;
}
.plus-minus-icons1 {
  margin: 0;
  height: 19px;
  width: 16px;
}
.plus-button {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px;
  gap: 26.5px;
}
.hourly {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 57px;
}
.hourly-placeholder-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.duration-value-instance {
  flex-direction: column;
  padding: 3px 0 0;
}
.credit-adjust-instance,
.credit-instance,
.duration-value-instance,
.time-period {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.time-period {
  border-radius: 20px;
  background-color: #034249;
  overflow: hidden;
  flex-direction: row;
  padding: 8px 16px;
  gap: 10px;
  color: #fff;
}
.credit-adjust-instance,
.credit-instance {
  flex-direction: column;
  gap: 15px;
}
.credit-instance {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 90px 0 0;
  box-sizing: border-box;
  min-width: 203px;
  max-width: 100%;
  gap: 20px;
}
.item-separator {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 70px;
  white-space: nowrap;
}
.item-details-instance,
.item-total {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.item-details-instance {
  width: 899px;
  flex-direction: row;
  gap: 15px;
}
.item-total {
  align-self: stretch;
  flex-direction: column;
  gap: 36px;
}
.row-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b6b6b6;
  box-sizing: border-box;
}
.cards-icon16 {
  height: 64.3px;
  width: 100px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.shopping-spree-gift,
.worth-usd-400 {
  width: 179px;
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.worth-usd-400 {
  line-height: 22px;
}
.quantity1 {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8px;
}
.b3,
.credits1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.b3 {
  min-width: 70px;
  white-space: nowrap;
}
.credits1 {
  min-width: 88px;
}
.increase-quantity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.icon-plus1 {
  width: 16px;
  height: 16px;
  position: relative;
}
.plus-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.b4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 11px;
}
.minus-icon {
  margin: 0;
  height: 19px;
  width: 16px;
}
.plus-icon-parent {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px;
  gap: 26.5px;
}
.hourly1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 57px;
}
.duration-value-child {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.duration-value {
  flex-direction: column;
  padding: 3px 0 0;
}
.credit-adjust,
.duration-value,
.hourly-parent,
.increase-quantity-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hourly-parent {
  border-radius: 20px;
  background-color: #034249;
  overflow: hidden;
  flex-direction: row;
  padding: 8px 16px;
  gap: 10px;
  color: #fff;
}
.credit-adjust,
.increase-quantity-parent {
  flex-direction: column;
  gap: 15px;
}
.increase-quantity-parent {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 90px 0 0;
  box-sizing: border-box;
  min-width: 203px;
  max-width: 100%;
  gap: 20px;
}
.b5 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 70px;
  white-space: nowrap;
}
.item-details,
.product-names {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.product-names {
  width: 899px;
  flex-direction: row;
  gap: 15px;
}
.item-details {
  align-self: stretch;
  flex-direction: column;
  gap: 35px;
}
.frame-child63 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b6b6b6;
  box-sizing: border-box;
}
.cards-icon17 {
  height: 64.3px;
  width: 100px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.travel-giftcard,
.worth-usd-4001 {
  width: 179px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.travel-giftcard-parent {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8px;
}
.b6,
.credits2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.b6 {
  min-width: 70px;
  white-space: nowrap;
}
.credits2 {
  min-width: 88px;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.icon-plus2 {
  width: 16px;
  height: 16px;
  position: relative;
}
.icon-plus-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.b7 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 11px;
}
.frame-input {
  margin: 0;
  height: 19px;
  width: 16px;
}
.frame-parent104 {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px;
  gap: 26.5px;
}
.hourly2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 57px;
}
.frame-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper1 {
  flex-direction: column;
  padding: 3px 0 0;
}
.frame-parent102,
.frame-parent103,
.frame-wrapper1,
.hourly-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hourly-group {
  border-radius: 20px;
  background-color: #034249;
  overflow: hidden;
  flex-direction: row;
  padding: 8px 16px;
  gap: 10px;
  color: #fff;
}
.frame-parent102,
.frame-parent103 {
  flex-direction: column;
  gap: 15px;
}
.frame-parent102 {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 90px 0 0;
  box-sizing: border-box;
  min-width: 203px;
  max-width: 100%;
  gap: 20px;
}
.b8 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 70px;
  white-space: nowrap;
}
.items-container,
.line-parent11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.items-container {
  width: 899px;
  flex-direction: row;
  gap: 15px;
}
.line-parent11 {
  align-self: stretch;
  flex-direction: column;
  gap: 35px;
}
.item-row-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b6b6b6;
  box-sizing: border-box;
}
.tag-icon15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button1 {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  font-family: Archivo;
  color: #000;
  text-align: center;
  min-width: 74px;
}
.tag-icon16 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button {
  cursor: pointer;
  border: 1px solid #000;
  padding: 14px 29px;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.tag-icon17 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button3 {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  font-family: Archivo;
  color: #fff;
  text-align: center;
  min-width: 83px;
}
.tag-icon18 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.action-buttons,
.button2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 16px 30px;
  background-color: #034249;
  border-radius: 20px;
  justify-content: flex-start;
  gap: 16px;
}
.action-buttons {
  align-self: stretch;
  justify-content: space-between;
  gap: 20px;
}
.item-info,
.item-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.item-row {
  align-self: stretch;
  gap: 35px;
}
.item-info {
  flex: 1;
  gap: 55px;
  max-width: 100%;
}
.checkout-details1 {
  position: relative;
  line-height: 22px;
}
.checkout-header,
.header4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header4 {
  flex: 1;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
  padding: 16px 24px;
}
.checkout-header {
  align-self: stretch;
  padding: 0 0 4px;
}
.cart-subtotal,
.value-separator {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 113px;
}
.value-separator {
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-grand-total,
.subtotal-total {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.subtotal-grand-total {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.subtotal-total {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 28px 0 25px;
  box-sizing: border-box;
}
.other-taxes,
.shipping-handling {
  position: relative;
  line-height: 22px;
}
.other-taxes {
  display: inline-block;
  min-width: 103px;
}
.taxes-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.b10,
.b9 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 48px;
  white-space: nowrap;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.shipping-taxes,
.shipping-taxes-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.shipping-taxes-label {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.shipping-taxes {
  justify-content: flex-start;
  padding: 0 28px 0 25px;
}
.checkout-details-inner,
.frame-child64,
.shipping-taxes {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child64 {
  flex: 1;
  position: relative;
  border-top: 1px solid #b6b6b6;
}
.checkout-details-inner {
  height: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3px;
}
.b11,
.grand-total {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 100px;
}
.b11 {
  text-align: right;
  min-width: 70px;
  white-space: nowrap;
}
.summary-labels {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.subtotal-total1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 25px;
  box-sizing: border-box;
}
.card-item,
.cart-item,
.checkout-details,
.subtotal-total1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.checkout-details {
  width: 504px;
  border-radius: 5px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 32px;
  box-sizing: border-box;
  gap: 32px;
  min-width: 504px;
}
.card-item,
.cart-item {
  flex-direction: row;
}
.card-item {
  width: 1536px;
  justify-content: flex-start;
  gap: 47px;
}
.cart-item {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: Archivo;
}
.smartphone-2-icon2 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
  min-height: 32px;
}
.elumesim5 {
  margin: 0;
  height: 31px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.smartphone-2-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.elumesim-all-rights2 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
}
.link-65ae30291732875dfe6ced52,
.link-65ae3029d0bd777a4e787052 {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 30px;
}
.link-65ae30297bc37e6591160b72 {
  height: 22.5px;
  width: 29.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.get-your-free2 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.footer-links {
  cursor: pointer;
  border: 0;
  padding: 12px 24px;
  background-color: #768b8d;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.footer-links1:hover,
.footer-links:hover {
  background-color: #5c7373;
}
.rate-elumesim2 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 119px;
}
.footer-links1 {
  cursor: pointer;
  border: 0;
  padding: 12px 24px;
  background-color: #768b8d;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.footer-content2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.heading-414 {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  display: inline-block;
  min-width: 62px;
}
.link-blog2,
.link-contact2,
.link-faqs2,
.link-help2 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 105px;
}
.link-blog2,
.link-contact2,
.link-faqs2 {
  min-width: 46px;
}
.link-blog2,
.link-contact2 {
  min-width: 98px;
}
.link-blog2 {
  min-width: 39px;
}
.help-links1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.heading-415,
.link-affiliate2 {
  position: relative;
  font-weight: 600;
}
.heading-415 {
  font-size: 24px;
  line-height: 29px;
}
.link-affiliate2 {
  line-height: 22px;
}
.link-enterprise2 {
  display: inline-block;
  min-width: 91px;
}
.link-acceptable2,
.link-enterprise2,
.link-privacy2,
.link-terms2 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
}
.link-privacy2 {
  display: inline-block;
  min-width: 122px;
}
.work-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.heading-416 {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}
.link-europe2,
.link-north2 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 62px;
}
.link-north2 {
  min-width: 127px;
}
.link-asia2,
.link-caribbean2,
.link-cruises2,
.link-in2,
.link-latin2,
.link-offshore2 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 91px;
}
.link-asia2,
.link-cruises2,
.link-in2,
.link-latin2,
.link-offshore2 {
  min-width: 101px;
}
.link-cruises2,
.link-in2,
.link-latin2,
.link-offshore2 {
  min-width: 120px;
}
.link-cruises2,
.link-in2,
.link-offshore2 {
  min-width: 67px;
}
.link-in2,
.link-offshore2 {
  min-width: 77px;
}
.link-in2 {
  min-width: 70px;
}
.popular-headers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.heading-417 {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}
.link-united4 {
  display: inline-block;
  min-width: 119px;
}
.link-united4,
.link-united5 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
}
.link-brazil2,
.link-canada2,
.link-france2,
.link-italy2,
.link-japan2,
.link-mexico2 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 67px;
}
.link-brazil2,
.link-france2,
.link-italy2,
.link-japan2,
.link-mexico2 {
  min-width: 63px;
}
.link-brazil2,
.link-france2,
.link-italy2,
.link-japan2 {
  min-width: 38px;
}
.link-brazil2,
.link-france2,
.link-japan2 {
  min-width: 60px;
}
.link-brazil2,
.link-japan2 {
  min-width: 49px;
}
.link-japan2 {
  min-width: 53px;
}
.popular-headers1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.popular-links {
  flex-direction: row;
  justify-content: flex-start;
  gap: 64px;
  max-width: 100%;
  font-size: 18px;
  font-family: Inter;
}
.cartdetailspage,
.footer2,
.popular-links {
  display: flex;
  align-items: flex-start;
}
.footer2 {
  align-self: stretch;
  background-color: #034249;
  flex-direction: row;
  justify-content: space-between;
  padding: 120px;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 28px;
  color: #fff;
  font-family: Almarai;
}
.cartdetailspage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 120px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1625px) {
  .footer2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1275px) {
  .header2 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
  .header3 {
    gap: 69px;
  }
  .checkout-details {
    flex: 1;
  }
  .card-item {
    flex-wrap: wrap;
  }
  .popular-links {
    flex-wrap: wrap;
    gap: 32px;
  }
  .footer2 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
  .cartdetailspage {
    gap: 60px;
  }
}
@media screen and (max-width: 900px) {
  .login-search {
    display: none;
  }
  .header2 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .your-cart {
    font-size: 38px;
    line-height: 42px;
  }
  .item-details-instance {
    flex-wrap: wrap;
  }
  .item-total {
    gap: 18px;
  }
  .product-names {
    flex-wrap: wrap;
  }
  .item-details {
    gap: 17px;
  }
  .items-container {
    flex-wrap: wrap;
  }
  .item-row,
  .line-parent11 {
    gap: 17px;
  }
  .item-info {
    gap: 27px;
    min-width: 100%;
  }
  .checkout-details {
    gap: 16px;
    min-width: 100%;
  }
  .card-item {
    gap: 23px;
  }
  .popular-links {
    gap: 16px;
  }
  .footer2 {
    padding: 78px 30px;
    box-sizing: border-box;
  }
  .cartdetailspage {
    gap: 30px;
  }
}
@media screen and (max-width: 450px) {
  .where-are-you2 {
    display: none;
  }
  .your-cart {
    font-size: 29px;
    line-height: 32px;
  }
  .header3 {
    gap: 35px;
  }
  .credit-instance,
  .frame-parent102,
  .increase-quantity-parent {
    flex-wrap: wrap;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .action-buttons,
  .shipping-taxes-label,
  .subtotal-grand-total,
  .summary-labels {
    flex-wrap: wrap;
  }
  .elumesim5 {
    font-size: 22px;
  }
  .heading-414,
  .heading-415,
  .heading-416,
  .heading-417 {
    font-size: 19px;
    line-height: 23px;
  }
}
