.smartphone-1-icon4 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
  min-height: 32px;
}
.elumesim8 {
  text-decoration: none;
  height: 31px;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.smartphone-1-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 28px;
  color: #000;
  font-family: Almarai;
}
.about4,
.destinations4,
.help4,
.usd4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 95px;
}
.about4,
.help4,
.usd4 {
  min-width: 46px;
}
.help4,
.usd4 {
  min-width: 35px;
}
.usd4 {
  min-width: 34px;
}
.logo-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #1c1c1c;
  font-family: Inter;
}
.search-normal-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.where-are-you4 {
  position: relative;
  line-height: 22px;
}
.search2 {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 11px;
  gap: 24px;
  white-space: nowrap;
}
.log-in4 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 46px;
  white-space: nowrap;
}
.header10,
.search-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.header10 {
  align-self: stretch;
  background-color: #fff;
  justify-content: space-between;
  padding: 24px 120px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #1c1c1c;
  font-family: Inter;
}
.showcase-image-icon {
  width: 693px;
  position: relative;
  border-radius: 20px;
  max-height: 100%;
  object-fit: cover;
  min-height: 693px;
  max-width: 100%;
}
.usa-esim {
  margin: 0;
  position: relative;
  font-size: 48px;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
}
.from-390 {
  position: relative;
  font-size: 32px;
  line-height: 120%;
}
.star-icons {
  overflow: hidden;
  flex-shrink: 0;
}
.star-icon,
.star-icon1,
.star-icon2,
.star-icon3,
.star-icons {
  height: 12px;
  width: 12px;
  position: relative;
  min-height: 12px;
}
.star-icons-parent,
.stars-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-icons-parent {
  flex-direction: row;
  gap: 5px;
}
.stars-container {
  flex-direction: column;
  padding: 5px 0 0;
}
.trustpilot {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 72px;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.all-plans-only {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.plan-description-child {
  width: 647px;
  height: 1px;
  position: relative;
  border-top: 1px solid #d5d5d5;
  box-sizing: border-box;
  max-width: 100%;
}
.keep-your-whatsapp {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.plan-description-item {
  width: 647px;
  height: 1px;
  position: relative;
  border-top: 1px solid #d5d5d5;
  box-sizing: border-box;
  max-width: 100%;
}
.check-here-if {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.plan-description-inner {
  width: 647px;
  height: 1px;
  position: relative;
  border-top: 1px solid #d5d5d5;
  box-sizing: border-box;
  max-width: 100%;
}
.no-id-is {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.plan-description-child1 {
  width: 647px;
  height: 1px;
  position: relative;
  border-top: 1px solid #d5d5d5;
  box-sizing: border-box;
  max-width: 100%;
}
.immerse-yourself-in {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.plan-description-child2 {
  width: 647px;
  height: 1px;
  position: relative;
  border-top: 1px solid #d5d5d5;
  box-sizing: border-box;
  max-width: 100%;
}
.immediately-receive-your {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.plan-description-child3 {
  width: 647px;
  height: 1px;
  position: relative;
  border-top: 1px solid #d5d5d5;
  box-sizing: border-box;
  max-width: 100%;
}
.pdp-showcase-1920x,
.plan-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.plan-description {
  flex: 1;
  flex-direction: column;
  gap: 31.6px;
  min-width: 590px;
}
.pdp-showcase-1920x {
  align-self: stretch;
  background-color: #fff;
  flex-direction: row;
  padding: 80px 120px 79px;
  box-sizing: border-box;
  gap: 80px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Inter;
}
.esim15,
.select-your-plan {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.esim15 {
  line-height: 29px;
  font-weight: 600;
}
.frame-child65,
.global-icon15 {
  position: relative;
  flex-shrink: 0;
}
.frame-child65 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.global-icon15 {
  width: 18px;
  height: 18px;
}
.global-label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.coverage15 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 96px;
  flex-shrink: 0;
}
.global-label-container-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.nepal18 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 46px;
}
.frame-parent107 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child66 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.arrow-swap-horizontal-icon15 {
  width: 18px;
  height: 18px;
  position: relative;
  flex-shrink: 0;
}
.data-transfer-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.data15 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 46px;
  flex-shrink: 0;
}
.data-transfer-icon-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.gb15 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 35px;
}
.data-transfer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child67 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.calendar-icon15 {
  width: 18px;
  height: 18px;
  position: relative;
  flex-shrink: 0;
}
.validity-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.validity15 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 82px;
  flex-shrink: 0;
}
.validity-icon-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.days15 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 51px;
}
.validity-period {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child68,
.tag-icon25 {
  position: relative;
  flex-shrink: 0;
}
.frame-child68 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.tag-icon25 {
  width: 18px;
  height: 18px;
}
.price-tag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.price16 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 52px;
  flex-shrink: 0;
}
.price-tag-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.us-50015 {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  min-width: 82px;
}
.pricing {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child69,
.line-parent12 {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-child69 {
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  flex-shrink: 0;
}
.line-parent12 {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 24px;
  gap: 23.5px;
  font-size: 14px;
}
.buy-now15 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
  min-width: 83px;
}
.purchase-button {
  cursor: pointer;
  border: 0;
  padding: 12px 20px;
  background-color: #034249;
  align-self: stretch;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.buy-now-wrapper10:hover,
.buy-now-wrapper11:hover,
.buy-now-wrapper12:hover,
.link1:hover,
.purchase-button:hover {
  background-color: #36757d;
}
.cards-icon18 {
  width: 140px;
  height: 90px;
  position: absolute;
  margin: 0 !important;
  top: -23px;
  right: 36px;
  border-radius: 10px;
  object-fit: cover;
}
.esim-parent13 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #55858b;
  border: 0.5px solid #5a5a5a;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 47px 23px;
  position: relative;
  gap: 48px;
  min-width: 301px;
  max-width: 100%;
}
.esim16 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.frame-child70,
.global-icon16 {
  position: relative;
  flex-shrink: 0;
}
.frame-child70 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.global-icon16 {
  width: 18px;
  height: 18px;
}
.global-wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.coverage16 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 96px;
  flex-shrink: 0;
}
.frame-parent109 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.nepal19 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 46px;
}
.frame-parent108 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child71 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.arrow-swap-horizontal-icon16 {
  width: 18px;
  height: 18px;
  position: relative;
  flex-shrink: 0;
}
.arrow-swap-horizontal-wrapper11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.data16 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 46px;
  flex-shrink: 0;
}
.frame-parent111 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.gb16 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 35px;
}
.frame-parent110 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child72 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.calendar-icon16 {
  width: 18px;
  height: 18px;
  position: relative;
  flex-shrink: 0;
}
.calendar-wrapper11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.validity16 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 82px;
  flex-shrink: 0;
}
.frame-parent113 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.days16 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 51px;
}
.frame-parent112 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child73,
.tag-icon26 {
  position: relative;
  flex-shrink: 0;
}
.frame-child73 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.tag-icon26 {
  width: 18px;
  height: 18px;
}
.tag-wrapper11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.price17 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 52px;
  flex-shrink: 0;
}
.frame-parent115 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.us-50016 {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  min-width: 82px;
}
.frame-parent114 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child74,
.line-parent13 {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-child74 {
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  flex-shrink: 0;
}
.line-parent13 {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 24px;
  gap: 23.5px;
  font-size: 14px;
}
.buy-now16 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
  min-width: 83px;
}
.buy-now-wrapper10 {
  cursor: pointer;
  border: 0;
  padding: 12px 20px;
  background-color: #034249;
  align-self: stretch;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.cards-icon19 {
  width: 140px;
  height: 90px;
  position: absolute;
  margin: 0 !important;
  top: -23px;
  right: 36px;
  border-radius: 10px;
  object-fit: cover;
}
.esim-parent14 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #55858b;
  border: 0.5px solid #5a5a5a;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 47px 23px;
  position: relative;
  gap: 48px;
  min-width: 301px;
  max-width: 100%;
}
.esim17 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.frame-child75,
.global-icon17 {
  position: relative;
  flex-shrink: 0;
}
.frame-child75 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.global-icon17 {
  width: 18px;
  height: 18px;
}
.global-wrapper14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.coverage17 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 96px;
  flex-shrink: 0;
}
.frame-parent117 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.nepal20 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 46px;
}
.frame-parent116 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child76 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.arrow-swap-horizontal-icon17 {
  width: 18px;
  height: 18px;
  position: relative;
  flex-shrink: 0;
}
.arrow-swap-horizontal-wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.data17 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 46px;
  flex-shrink: 0;
}
.frame-parent119 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.gb17 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 35px;
}
.frame-parent118 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child77 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.calendar-icon17 {
  width: 18px;
  height: 18px;
  position: relative;
  flex-shrink: 0;
}
.calendar-wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.validity17 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 82px;
  flex-shrink: 0;
}
.frame-parent121 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.days17 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 51px;
}
.frame-parent120 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child78,
.tag-icon27 {
  position: relative;
  flex-shrink: 0;
}
.frame-child78 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.tag-icon27 {
  width: 18px;
  height: 18px;
}
.tag-wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.price18 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 52px;
  flex-shrink: 0;
}
.frame-parent123 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.us-50017 {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  min-width: 82px;
}
.frame-parent122 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child79,
.line-parent14 {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-child79 {
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  flex-shrink: 0;
}
.line-parent14 {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 24px;
  gap: 23.5px;
  font-size: 14px;
}
.buy-now17 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
  min-width: 83px;
}
.buy-now-wrapper11 {
  cursor: pointer;
  border: 0;
  padding: 12px 20px;
  background-color: #034249;
  align-self: stretch;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.cards-icon20 {
  width: 140px;
  height: 90px;
  position: absolute;
  margin: 0 !important;
  top: -23px;
  right: 36px;
  border-radius: 10px;
  object-fit: cover;
}
.esim-parent15 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #55858b;
  border: 0.5px solid #5a5a5a;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 47px 23px;
  position: relative;
  gap: 48px;
  min-width: 301px;
  max-width: 100%;
}
.esim18 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.frame-child80,
.global-icon18 {
  position: relative;
  flex-shrink: 0;
}
.frame-child80 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.global-icon18 {
  width: 18px;
  height: 18px;
}
.global-wrapper15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.coverage18 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 96px;
  flex-shrink: 0;
}
.frame-parent125 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.nepal21 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 46px;
}
.frame-parent124 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child81 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.arrow-swap-horizontal-icon18 {
  width: 18px;
  height: 18px;
  position: relative;
  flex-shrink: 0;
}
.arrow-swap-horizontal-wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.data18 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 46px;
  flex-shrink: 0;
}
.frame-parent127 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.gb18 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 35px;
}
.frame-parent126 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child82 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.calendar-icon18 {
  width: 18px;
  height: 18px;
  position: relative;
  flex-shrink: 0;
}
.calendar-wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.validity18 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 82px;
  flex-shrink: 0;
}
.frame-parent129 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.days18 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 51px;
}
.frame-parent128 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child83,
.tag-icon28 {
  position: relative;
  flex-shrink: 0;
}
.frame-child83 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.tag-icon28 {
  width: 18px;
  height: 18px;
}
.tag-wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.price19 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 52px;
  flex-shrink: 0;
}
.frame-parent131 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.us-50018 {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  min-width: 82px;
}
.frame-parent130 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-child84,
.line-parent15 {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-child84 {
  height: 1px;
  position: relative;
  border-top: 1px solid #fff;
  flex-shrink: 0;
}
.line-parent15 {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 24px;
  gap: 23.5px;
  font-size: 14px;
}
.buy-now18 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
  min-width: 83px;
}
.buy-now-wrapper12 {
  cursor: pointer;
  border: 0;
  padding: 12px 20px;
  background-color: #034249;
  align-self: stretch;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.cards-icon21 {
  width: 140px;
  height: 90px;
  position: absolute;
  margin: 0 !important;
  top: -23px;
  right: 36px;
  border-radius: 10px;
  object-fit: cover;
}
.esim-parent16 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #55858b;
  border: 0.5px solid #5a5a5a;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 47px 23px;
  position: relative;
  gap: 48px;
  min-width: 301px;
  max-width: 100%;
}
.plan-grid {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  text-align: left;
  font-size: 24px;
  color: #fff;
}
.esim-pd-1920x,
.heading1,
.plan-grid {
  display: flex;
  max-width: 100%;
}
.esim-pd-1920x {
  align-self: stretch;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 80px 120px;
  box-sizing: border-box;
  gap: 48px;
  text-align: center;
  font-size: 32px;
  color: #034249;
  font-family: Inter;
}
.heading1 {
  margin: 0;
  width: 1680px;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
  justify-content: center;
}
.placeholder-background {
  position: relative;
  line-height: 48px;
  display: inline-block;
  min-width: 13px;
}
.background4,
.step-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.background4 {
  border-radius: 30px;
  background-color: #034249;
  justify-content: flex-start;
  padding: 5.9px 23px 6.1px;
}
.step-content {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
}
.choose-your-destination1,
.package1 {
  margin: 0;
}
.choose-your-destination-container1 {
  margin: 0;
  position: relative;
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  font-family: Inter;
  text-align: center;
}
.phone-icon3 {
  height: 501.3px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.device-image-container,
.step-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.device-image-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 15px;
}
.step-container {
  width: 281px;
  flex-direction: column;
  gap: 40.4px;
}
.b15 {
  position: relative;
  line-height: 48px;
  display: inline-block;
  min-width: 20px;
}
.background-wrapper1,
.background5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.background5 {
  border-radius: 30px;
  background-color: #034249;
  justify-content: flex-start;
  padding: 5.9px 19px 6.1px 20px;
}
.background-wrapper1 {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
}
.heading-422 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.heading-4-install-your-esim-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  text-align: center;
  font-size: 24px;
  font-family: Inter;
}
.phone-icon4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.step-container1 {
  height: 700px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 54.8px;
}
.b16 {
  position: relative;
  line-height: 48px;
  display: inline-block;
  min-width: 21px;
}
.background-wrapper2,
.background6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.background6 {
  border-radius: 30px;
  background-color: #034249;
  justify-content: flex-start;
  padding: 5.9px 19px 6.1px;
}
.background-wrapper2 {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
}
.heading-423 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.heading-4-activate-your-esim-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 17px;
  text-align: center;
  font-size: 24px;
  font-family: Inter;
}
.phone-icon5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.step-container2 {
  height: 700px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 54.8px;
}
.b17 {
  position: relative;
  line-height: 48px;
  display: inline-block;
  min-width: 23px;
}
.background-wrapper3,
.background7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.background7 {
  border-radius: 30px;
  background-color: #034249;
  justify-content: flex-start;
  padding: 5.9px 18px 6.1px;
}
.background-wrapper3 {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
}
.get-online-the1,
.you-arrive1 {
  margin: 0;
}
.get-online-the-container1 {
  margin: 0;
  position: relative;
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  font-family: Inter;
  text-align: center;
}
.dedf0337a3de033c836cdd-iphones-icon1 {
  height: 505px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.dedf0337a3de033c836cdd-iphones-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6px;
}
.phones1,
.step-container3 {
  width: 263px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38.5px;
}
.phones1 {
  width: 1680px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: 34px;
  font-family: "DM Sans";
}
.how-it-works-1920x1 {
  align-self: stretch;
  background-color: #55858b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-family: Inter;
}
.placeholder-left-icon {
  height: 545.5px;
  width: 272px;
  position: relative;
}
.f325b00360c86ed4344b-visapng-icon1 {
  width: 98.5px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.attention-visa1,
.customers1 {
  margin: 0;
}
.attention-visa-customers-container3 {
  width: 100%;
}
.attention-visa-customers-container2 {
  margin: 0;
  width: 257.8px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.complimentary-data-courtesy1,
.visa-cardholders-may1 {
  margin: 0;
}
.learn-more1,
.visa-cardholders-may-container1 {
  position: relative;
  line-height: 135%;
}
.learn-more1 {
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
  font-family: "DM Sans";
  color: #fff;
  text-align: left;
  min-width: 110.1px;
}
.link1,
.offer-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link1 {
  cursor: pointer;
  border: 0;
  padding: 12px 41px 12px 42px;
  background-color: #034249;
  border-radius: 26px;
  flex-direction: row;
  white-space: nowrap;
}
.offer-description {
  align-self: stretch;
  flex-direction: column;
  gap: 20.5px;
  font-size: 16px;
}
.attention-visa-customers-group {
  align-self: stretch;
  flex-direction: column;
  gap: 44.1px;
}
.attention-visa-customers-group,
.section3,
.visa-logo-container,
.visa-offer1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.visa-logo-container {
  align-self: stretch;
  flex-direction: column;
  gap: 30px;
}
.section3,
.visa-offer1 {
  flex-shrink: 0;
  box-sizing: border-box;
}
.visa-offer1 {
  width: 324px;
  flex-direction: column;
  padding: 28.2px 0 0;
  max-width: calc(100% - 332px);
}
.section3 {
  align-self: stretch;
  height: 446.4px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 41.8px 597px 76.8px;
  gap: 60px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #141414;
  font-family: Inter;
}
.heading-21 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.compatibility-title-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 22px 0 20px;
  flex-shrink: 0;
}
.select-the-device1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 23.4px;
  flex-shrink: 0;
}
.compatibility-content1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14.3px;
  max-width: 100%;
}
.compatibility-content-wrapper {
  width: 1012px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 46px 0 47px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.svg-icon4 {
  width: 66px;
  height: 66px;
  position: relative;
}
.iphone1 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 60.4px;
}
.backgroundshadow4,
.device-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px;
}
.backgroundshadow4 {
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  padding: 20px 71px 23.8px;
  gap: 15.4px;
}
.svg-icon5 {
  width: 72px;
  height: 72px;
  position: relative;
}
.android1 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 70.9px;
}
.backgroundshadow5 {
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 68px 23.8px;
  gap: 9.4px;
}
.svg-icon6 {
  height: 72px;
  width: 72px;
  position: relative;
}
.svg-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 18px;
}
.cellular-ipad1 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 109.9px;
}
.backgroundshadow6 {
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 48px 23.8px 49px;
  gap: 9.4px;
}
.svg-icon7 {
  height: 72px;
  width: 72px;
  position: relative;
}
.svg-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 27px 0 26px;
}
.other-devices1 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 125.5px;
}
.backgroundshadow7 {
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 41px 23.8px;
  gap: 9.4px;
}
.device-selection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: #141414;
}
.horizontal-divider2,
.section4 {
  align-self: stretch;
  box-sizing: border-box;
}
.section4 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 20px;
  gap: 40.7px;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #262626;
  font-family: Inter;
}
.horizontal-divider2 {
  height: 2px;
  position: relative;
  border-top: 2px solid #fff;
}
.benefits-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 0 0;
  box-sizing: border-box;
  min-width: 449px;
  max-width: 100%;
}
.why-choose-us1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.horizontal-divider3 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid #fff;
  box-sizing: border-box;
}
.benefits-title1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 0 0;
  box-sizing: border-box;
  min-width: 449px;
  max-width: 100%;
}
.benefits-content,
.benefits-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.benefits-header {
  width: 1680px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
}
.benefits-content {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.heading-424 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.payment-feature {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 41px;
}
.alongside-mazor-credit1,
.cards1,
.to-70-local1,
.we-accept-payment1 {
  margin: 0;
}
.we-accept-payment-container1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
}
.payment-features-list {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #034249;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 24px;
  box-sizing: border-box;
  gap: 12px;
  min-width: 256px;
  max-width: 300px;
}
.heading-425 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.heading-4-100-satisfaction-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 21px;
}
.customers-in-every1,
.guaranteed1,
.we-strive-to2,
.your-satisfaction-is1 {
  margin: 0;
}
.we-strive-to-container2 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
}
.payment-features-list1 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #034249;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 24px;
  box-sizing: border-box;
  gap: 12px;
  min-width: 256px;
  max-width: 300px;
}
.heading-426 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.heading-4-rocket-delivery-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 35px;
}
.customer-orders-within1,
.minutes1,
.we-strive-to3 {
  margin: 0;
}
.we-strive-to-container3 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
}
.payment-features-list2 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #034249;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 24px 62px;
  box-sizing: border-box;
  gap: 12px;
  min-width: 256px;
  max-width: 300px;
}
.heading-427 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.heading-4-dedicated-support-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.assist-you-in1,
.support-team-on1,
.we-have-a1 {
  margin: 0;
}
.we-have-a-container1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
}
.payment-features-list3 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #034249;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 24px 62px;
  box-sizing: border-box;
  gap: 12px;
  min-width: 256px;
  max-width: 300px;
}
.benefits,
.payment-features {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.payment-features {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 324px;
  font-size: 24px;
}
.benefits {
  background-color: #55858b;
  flex-direction: column;
  justify-content: flex-start;
  padding: 80px 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-family: Inter;
}
.smartphone-2-icon4 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
  min-height: 32px;
}
.elumesim9 {
  margin: 0;
  height: 31px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.smartphone-2-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.elumesim-all-rights4 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
}
.link-65ae30291732875dfe6ced54,
.link-65ae3029d0bd777a4e787054 {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 30px;
}
.link-65ae30297bc37e6591160b74 {
  height: 22.5px;
  width: 29.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.social-links2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.get-your-free4 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.footer-branding {
  cursor: pointer;
  border: 0;
  padding: 12px 24px;
  background-color: #768b8d;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.footer-branding1:hover,
.footer-branding:hover {
  background-color: #5c7373;
}
.rate-elumesim4 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 119px;
}
.footer-branding1 {
  cursor: pointer;
  border: 0;
  padding: 12px 24px;
  background-color: #768b8d;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.footer-content4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.heading-428 {
  margin: 0;
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 62px;
}
.link-blog4,
.link-contact4,
.link-faqs4,
.link-help4 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 105px;
}
.link-blog4,
.link-contact4,
.link-faqs4 {
  min-width: 46px;
}
.link-blog4,
.link-contact4 {
  min-width: 98px;
}
.link-blog4 {
  min-width: 39px;
}
.help5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.heading-429,
.link-affiliate4 {
  position: relative;
  font-weight: 600;
}
.heading-429 {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-family: inherit;
}
.link-affiliate4 {
  line-height: 22px;
}
.link-enterprise4 {
  display: inline-block;
  min-width: 91px;
}
.link-acceptable4,
.link-enterprise4,
.link-privacy4,
.link-terms4 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
}
.link-privacy4 {
  display: inline-block;
  min-width: 122px;
}
.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.heading-430 {
  margin: 0;
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.link-europe4,
.link-north4 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 62px;
}
.link-north4 {
  min-width: 127px;
}
.link-asia4,
.link-caribbean4,
.link-cruises4,
.link-in4,
.link-latin4,
.link-offshore4 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 91px;
}
.link-asia4,
.link-cruises4,
.link-in4,
.link-latin4,
.link-offshore4 {
  min-width: 101px;
}
.link-cruises4,
.link-in4,
.link-latin4,
.link-offshore4 {
  min-width: 120px;
}
.link-cruises4,
.link-in4,
.link-offshore4 {
  min-width: 67px;
}
.link-in4,
.link-offshore4 {
  min-width: 77px;
}
.link-in4 {
  min-width: 70px;
}
.region-links4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.heading-431 {
  margin: 0;
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.link-united8 {
  display: inline-block;
  min-width: 119px;
}
.link-united8,
.link-united9 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
}
.link-brazil4,
.link-canada4,
.link-france4,
.link-italy4,
.link-japan4,
.link-mexico4 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 67px;
}
.link-brazil4,
.link-france4,
.link-italy4,
.link-japan4,
.link-mexico4 {
  min-width: 63px;
}
.link-brazil4,
.link-france4,
.link-italy4,
.link-japan4 {
  min-width: 38px;
}
.link-brazil4,
.link-france4,
.link-japan4 {
  min-width: 60px;
}
.link-brazil4,
.link-japan4 {
  min-width: 49px;
}
.link-japan4 {
  min-width: 53px;
}
.region-links5,
.regions {
  justify-content: flex-start;
}
.region-links5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.regions {
  flex-direction: row;
  gap: 64px;
  max-width: 100%;
  font-size: 18px;
  font-family: Inter;
}
.footer4,
.productdescritpion,
.regions {
  display: flex;
  align-items: flex-start;
}
.footer4 {
  align-self: stretch;
  background-color: #034249;
  flex-direction: row;
  justify-content: space-between;
  padding: 120px;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 28px;
  color: #fff;
  font-family: Almarai;
}
.productdescritpion {
  width: 100%;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1625px) {
  .showcase-image-icon {
    flex: 1;
  }
  .footer4,
  .pdp-showcase-1920x {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .header10 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
  .plan-description {
    min-width: 100%;
  }
  .pdp-showcase-1920x {
    gap: 40px;
  }
  .esim-pd-1920x,
  .pdp-showcase-1920x {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
  .phones1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .how-it-works-1920x1 {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .section3 {
    gap: 30px;
    padding-left: 298px;
    padding-right: 298px;
    box-sizing: border-box;
  }
  .compatibility-content-wrapper {
    padding-left: 23px;
    padding-right: 23px;
    box-sizing: border-box;
  }
  .device-selection {
    flex-wrap: wrap;
    gap: 30px;
  }
  .payment-features {
    padding-left: 162px;
    padding-right: 162px;
    box-sizing: border-box;
  }
  .regions {
    flex-wrap: wrap;
    gap: 32px;
  }
  .footer4 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .search-group {
    display: none;
  }
  .header10 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .usa-esim {
    font-size: 38px;
    line-height: 42px;
  }
  .from-390 {
    font-size: 26px;
    line-height: 31px;
  }
  .pdp-showcase-1920x {
    gap: 20px;
    padding: 52px 30px 51px;
    box-sizing: border-box;
  }
  .select-your-plan {
    font-size: 26px;
    line-height: 31px;
  }
  .esim-parent13,
  .esim-parent14,
  .esim-parent15,
  .esim-parent16 {
    padding-top: 31px;
    padding-bottom: 31px;
    box-sizing: border-box;
  }
  .esim-pd-1920x {
    gap: 24px;
    padding: 52px 30px;
    box-sizing: border-box;
  }
  .heading1 {
    font-size: 38px;
    line-height: 42px;
  }
  .b15,
  .b16,
  .b17,
  .placeholder-background {
    font-size: 27px;
    line-height: 38px;
  }
  .how-it-works-1920x1 {
    gap: 32px;
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
  .placeholder-left-icon {
    display: none;
  }
  .attention-visa-customers-container2 {
    font-size: 26px;
    line-height: 31px;
  }
  .visa-offer1 {
    max-width: 100%;
  }
  .section3 {
    gap: 15px;
    padding: 27px 149px 50px;
    box-sizing: border-box;
  }
  .heading-21 {
    font-size: 38px;
    line-height: 42px;
  }
  .section4 {
    gap: 20px;
  }
  .benefits-title {
    min-width: 100%;
  }
  .why-choose-us1 {
    font-size: 26px;
    line-height: 31px;
  }
  .benefits-title1 {
    min-width: 100%;
  }
  .payment-features {
    padding-left: 81px;
    padding-right: 81px;
    box-sizing: border-box;
  }
  .benefits {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .regions {
    gap: 16px;
  }
  .footer4 {
    padding: 78px 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .where-are-you4 {
    display: none;
  }
  .usa-esim {
    font-size: 29px;
    line-height: 32px;
  }
  .from-390 {
    font-size: 19px;
    line-height: 23px;
  }
  .plan-description {
    gap: 16px;
  }
  .pdp-showcase-1920x {
    padding-top: 34px;
    padding-bottom: 33px;
    box-sizing: border-box;
  }
  .esim15,
  .select-your-plan {
    font-size: 19px;
    line-height: 23px;
  }
  .data-transfer,
  .frame-parent107,
  .pricing,
  .validity-period {
    flex-wrap: wrap;
  }
  .line-parent12 {
    height: auto;
  }
  .esim-parent13 {
    gap: 24px;
  }
  .esim16 {
    font-size: 19px;
    line-height: 23px;
  }
  .frame-parent108,
  .frame-parent110,
  .frame-parent112,
  .frame-parent114 {
    flex-wrap: wrap;
  }
  .line-parent13 {
    height: auto;
  }
  .esim-parent14 {
    gap: 24px;
  }
  .esim17 {
    font-size: 19px;
    line-height: 23px;
  }
  .frame-parent116,
  .frame-parent118,
  .frame-parent120,
  .frame-parent122 {
    flex-wrap: wrap;
  }
  .line-parent14 {
    height: auto;
  }
  .esim-parent15 {
    gap: 24px;
  }
  .esim18 {
    font-size: 19px;
    line-height: 23px;
  }
  .frame-parent124,
  .frame-parent126,
  .frame-parent128,
  .frame-parent130 {
    flex-wrap: wrap;
  }
  .line-parent15 {
    height: auto;
  }
  .esim-parent16 {
    gap: 24px;
  }
  .esim-pd-1920x {
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
  .heading1 {
    font-size: 29px;
    line-height: 32px;
  }
  .placeholder-background {
    font-size: 20px;
    line-height: 29px;
  }
  .choose-your-destination-container1 {
    font-size: 19px;
    line-height: 23px;
  }
  .step-container {
    gap: 20px;
  }
  .b15 {
    font-size: 20px;
    line-height: 29px;
  }
  .heading-422 {
    font-size: 19px;
    line-height: 23px;
  }
  .step-container1 {
    gap: 27px;
  }
  .b16 {
    font-size: 20px;
    line-height: 29px;
  }
  .heading-423 {
    font-size: 19px;
    line-height: 23px;
  }
  .step-container2 {
    gap: 27px;
  }
  .b17 {
    font-size: 20px;
    line-height: 29px;
  }
  .get-online-the-container1 {
    font-size: 19px;
    line-height: 23px;
  }
  .step-container3 {
    gap: 19px;
  }
  .how-it-works-1920x1 {
    gap: 16px;
  }
  .attention-visa-customers-container2 {
    font-size: 19px;
    line-height: 23px;
  }
  .attention-visa-customers-group {
    gap: 22px;
  }
  .section3 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .heading-21 {
    font-size: 29px;
    line-height: 32px;
  }
  .section4 {
    padding-top: 39px;
    padding-bottom: 39px;
    box-sizing: border-box;
  }
  .heading-424,
  .heading-425,
  .heading-426,
  .heading-427,
  .why-choose-us1 {
    font-size: 19px;
    line-height: 23px;
  }
  .elumesim9 {
    font-size: 22px;
  }
  .heading-428,
  .heading-429,
  .heading-430,
  .heading-431 {
    font-size: 19px;
    line-height: 23px;
  }
}
